<!DOCTYPE html>
<html>
    <head>
        <title>{{recipe.title}}</title>
        <link rel="stylesheet" href="../styles.css">  
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        
    </head>
         
    <body>
        <header>
            <a href="/">
                <img class="logo" src="../images/logo.png" alt="Foodfy Logo">
            </a>
            <nav class="Links">
                <a href="../about">Sobre</a>        
                <a href="../recipes">Receitas</a>
            </nav>                
        </header>
        <div class="Recipe-title" >
            <img src="{{recipe.image}}" alt="">
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.author}}</p>
        </div>    
        <div class="Recipe-details">
            <h2>
                Ingredientes
                <button id="ingredients">MOSTRAR</button>
            </h2>
        
            <ul class="ingredients hide" >
            {% for ingredients in recipe.ingredients %}
                <li>{{ingredients}}</li>
            {% endfor %}
            </ul>    
        
            <h2>
                Modo de preparo
                <button id="preparation">MOSTRAR</button>
            </h2>
            <ul class="preparation hide" >
            {% for preparation in recipe.preparation %}
                <li>{{preparation}} </li>
            {% endfor %}
            </ul>    

            
            {% if recipe.information %}
                <h2>
                    Informações adicionais
                    <button id="information">MOSTRAR</button>
                </h2>
                <p class="information hide">{{recipe.information}}</p>                   
            {% endif %}
        </div>
        <script src="/scripts.js"></script>
    </body>
</html>        
    
    