<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles.css">    
    </head>
    <body>
        <header>
            <a href="index.njk">
                <img src="../images/logo.png" alt="Foodfy Logo">
            </a>
            <nav class="Links">
                <a href="about.njk">Sobre</a>        
                <a href="recipes.njk">Receitas</a>
            </nav>                
        </header>
        
        {% block content %}   
        {% endblock %}

    </body>
    <script src="./scripts.js"></script>
</html>        