<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <header>
            <a href="/">
                <img class="logo" src="./images/logo.png" alt="Foodfy Logo">
            </a>
            <nav class="Links">
                <a href="about" id="about">Sobre</a>        
                <a href="recipes" id="recipes">Receitas</a>
            </nav>                
        </header>
        
        {% block content %}   
        {% endblock %}

    </body>
</html>        