{% extends "layout.njk" %}
{% block content %}
    <div class="Recipes">
        {% for recipe in recipes %}
        <div class="Recipe" id="">
            <img src="{{recipe.image}}" alt="">
            <h3>{{recipe.title}}</h3>
            <p>por {{recipe.author}}</p>
        </div>       
        {% endfor %} 
    </div>       
    <div class="Modal-overlay">
        <div class="Modal">
            <div class="Modal-content">
                <div class="RecipeModal">                        
                </div>                                        
            </div>                               
        </div>
    </div>
    
    <script src="./scripts.js"></script> 
{% endblock %}